
body, div, h1, h2, h3, h4, ul, li { margin: 0; padding: 0; border: 0; font-size: 12px; }
body { position: absolute; width:100%; height: 100%; font-family: Verdana, Helvetica, Arial, sans-serif; }
#header, #content, #footer { width: 100%; }
#header { height: 50px; background-color: #2E3884; overflow: hidden; position: absolute; }
#logo { font-family: Georgia, Times, serif; font-size: 30px; padding: 8px 10px; display: inline-block;
    text-shadow: #081472 1px 2px 1px; }
#logo a { color: #717DD7; text-decoration: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
#footer { color: #2E3884; }
#footer a { color: inherit; }
#footer_inner { width: 800px; height: 19px; margin: 5px auto 0; border-top: 1px solid #717DD7; }

#content { min-height: 100%; margin-bottom: -25px; }
#content_inner { width: 800px; padding: 10px 10px 30px; margin: 0 auto; }
#toolbar { width: 100%; padding-top: 50px; background-color: #D0D0D0; border-top: 1px solid #4B5CD7; border-bottom: 1px solid #A6A500; }
#menubar { padding: 5px 0 0 5px; }
#menubar a { display: inline-block; padding: 4px 8px; text-decoration: none; cursor: pointer; background-color: #FFFE73; color: #A6A500;  
    border: 1px solid #BFBE30; border-width: 2px 3px 0 2px; font-size: 14px; }
#menubar a.selected { background-color: #A6A500; color: #FFFD00; font-weight: bold;
    border: 1px solid #BFBE30; border-width: 1px 1px 0; cursor: default;}
#menubar a:not(.selected):hover { background-color: #FFFE40; }
#toolbar input[type=text] { height: 23px; }
#toolbar form { margin: 2px; }

h2 { font-size: 25px; font-family: Georgia, Times, serif;  font-variant: small-caps; margin: 15px 0 10px; }
h3 { font-size: 20px; font-family: Georgia, Times, serif; margin: 15px 0 10px; border-bottom: 1px solid #BFBE30; color: #A6A500; }
.field { margin: 25px 0 10px; }
.field_label { display: block; font-weight: bold; margin-top: 3px; }
.field_required { display: block; font-weight: bold; color:#F00; text-decoration: underline }
.field_help { display: block; }
.error { color: #FF5C00; vertical-align: top; clear: right; }
.options, .validation { list-style: none; }
.options li { padding: 2px; }
.dropdown { margin-top: 5px; }
pre { font-family: Consolas, Lucida Console, Courier New, monospace; }


#form_data .header { background-color: #FFFE73; cursor: pointer; font-weight: bold; padding: 5px 10px; color: #000;  }
#form_data .header > .sortIcon { display: inline-block; background: url(../images/sort.png) no-repeat -28px 0; width: 10px; height: 9px; 
	margin-left: 4px; } 
#form_data .headerSortUp > .sortIcon { background-position: -50px 0; }
#form_data .headerSortDown > .sortIcon { background-position: -4px 4px; }
#form_data td { padding: 2px 5px; }
#form_data, #form_data th, #form_data td { border: 1px solid #FFA573; }
#form_data { border-width: 1px 1px 0 0; }
#form_data th, #form_data td { border-width: 0 0 1px 1px; }
.time_col { color: #777777; }
#nodata { text-align: center; }